body {
	width: 99%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#site_header {
	float: none;
	position: static;
	width: auto;
}

#site_title {
	font-size: auto;
}

#navigation {
	margin-top: 1.5em;
	width: auto;
}

#search {
	width: 90%;
}

#main {
	float: none;
	position: static;
	width: 100%;
	margin: 1.5em auto;
}

.article_title {
	margin: 0;
	font-size: 2em;
}

.article {
	width: 100%;
	float: none;
}

.article_text,
.article_meta,
.article_share,
#article_pagination,
#article_comments {
	width: 100%;
}

#footer {
	position: static;
	text-align: center;
	font-size: .9em;
}

#footer_left,
#footer_right {
	float: none;
	width: auto;
	padding: .5em 0;
	text-align: justify;
}