body {
	margin: 0 auto;
	padding: 0;
	background-color: #fafafa;
	background-image: url('../images/background.png');
	color: #333;
	font-family: 'Cabin', sans-serif;
}

#wrapper {
	padding: 1em;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: #333;
}

#palette {
	width: 100%;
	height: 3px;
	padding: 0;
	clear: both;
}

#palette li {
	list-style: none inside;
	float: left;
	width: 20%;
	height: 100%;
}

#site_header {
	position: fixed;
	padding-top: 4%;
	text-align: center;
	box-sizing: border-box;
	width: 35%;
	margin: 0 2.5%;
	float: left;
	min-height: 100%;
	overflow: hidden;
}

#site_logo {
	margin-bottom: 1.5em;
}

#site_logo img {
	width: 55%;
}

#site_title {
	margin: .25em 0em;
	font-size: 2em;
	text-align: center;
	font-weight: bold;
}

#navigation {
	display: block;
	width: 50%;
	margin: 0 auto;
	padding: 1.2em .5em;
	text-align: center;
}

#navigation a {
	margin: .1em 0em;
	display: block;
	border: 1px solid #eee;
	background-color: #fff;
	padding: .8em 0em;
	list-style: none inside;
	text-transform: uppercase;
	font-size: .9em;

	-webkit-box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
	-moz-box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
	box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
}

#navigation a:hover,
#navigation a.active {
	opacity: .7;
}

#share {
	margin: .5em 0;
}

#share li {
	margin: 0em .6em;
	display: inline;
}

#share li img {
	width: 2em;
}

#share li a:hover {
	opacity: .7;
}

#main {
	float: right;
	font-size: 1.1em;
	width: 55%;
	margin: 0 2.5%;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}


/*	
	======
	Search
	======
*/

#search {
	margin: .7em auto 2em auto;
	font-size: .9em;
}

#search > * {
	line-height: 1.2em;
	padding: .5em 1em;
	background-color: #fff;
	border: 1px solid #eee;
	
	-webkit-box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
	-moz-box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
	box-shadow: 5px 5px 2px 0px rgba(235,235,235,1);
}

#search input[type=text] {
	display: inline;
	width: calc(100% - 6em);
}

#search a#search_submit {
	float: right;
	display: inline;
}


/*	
	========
	Articles
	========
*/

.article {
	box-sizing: border-box;
}

.article_title {
	display: block;
	font-size: 2em;
	margin: .5em 0em;
	padding-bottom: .25em;
	border-bottom: 1px solid #eeeeee;
	font-weight: bold;
}

.article.single .article_title {
	font-size: 1.7em;
}

.article.group .article_title {
	font-size: 1.4em;
}

.article.page.single .article_title {
	margin: .5em 0em;
	text-align: center;
	font-weight: bold;
	color: #333;
}

.article.page.single .article_title a {
	color: #333;
}

.article_meta {
	margin: .5em 0em;
}

.article_date, 
.article_categories {
	display: inline;
	color: #9e9e9e;
	font-size: .8em;
	font-weight: bold;
}

.article_categories a {
	color: #9e9e9e;
	margin-right: .5em;
}

.article_categories a:last-child { margin-right: 0; }


/*
	=============
	Category page
	=============
*/

.category_title, .noresults_title {
	margin: 1em 0em;
	font-size: 1.5em;
	color: #999999;
}


/* 
	============
	Article text
	============
*/

.article_text {
	text-align: justify;
	color: #212121;
	line-height: 1.5em;
}

.article_text a,
.project_description a {
	text-decoration: underline;
	color: #333;
}

.article_text a.footnote, .article_text a.reversefootnote {
	text-decoration: none;
}

.article_read_more {
	margin-bottom: 2.5em;
}

.article_read_more a  {
	text-decoration: underline;
	font-size: .9em;
}

.article_text p, .article_text ul, .article_text ol {
	margin-bottom: 1em;
}

.article_text img {
	margin: 1em auto;
	max-width: 100%;
}

.article_text h1 {
	font-size: 2em;
}

.article_text h2 {
	font-size: 1.7em;
}

.article_text h3 {
	font-size: 1.4em;
}

.article_text h4 {
	font-size: 1.3em;
}

.article_text h5 {
	font-size: 1.2em;
}

.article_text h1, .article_text h2, .article_text h3,
.article_text h4, .article_text h5, .article_text h6 {
	margin: 1em 0em;
	font-weight: bold;
	text-align: left;
}

.article_text h6 {
	font-size: 1em;
	font-weight: bold;
}

.article_text cite {
	font-style: italic;
}

.article_text pre code {
	margin: 1em auto;
	width: 85%;
	border-left: 5px solid #e0e0e0;
	padding: 1em;
	background-color: #f5f5f5;
	font-family: 'Source Code Pro', monospace;
	font-size: .9em;
	border-radius: 3px;
}

.article_text code {
	padding: 1px 5px;
	font-family: 'Source Code Pro', monospace;
	border-radius: 3px;
	background-color: #eef;
	border: 1px solid #e8e8e8;
	font-size: .9em;
}

.article_text blockquote {
	margin: 1em auto;
	width: 85%;
	border-left: 4px solid #e0e0e0;
	padding: 1em;
	line-height: 1.2em;
}

.article_text blockquote p {
	margin-bottom: .5em;
}

.article_text blockquote p:last-child {
	margin-bottom: 0;
}

.article_text ul,
.article_text ol {
	list-style-type: disc;
	list-style-position: inside;
}

.article_text ol {
	list-style-type: decimal;
}

.article_text li p {
	display: inline;
}

.article_text figcaption {
	color: #888;
	font-size: .9em;
	font-style: italic;
}

.article_text .fluid-width-video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.article_text .fluid-width-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article_text .lineno {
	padding-right: 1em;
}

.article_text dl {
	margin: 2em 0em;
	color: #666;
}

.article_text dl dt {
	font-weight: bold;
}

.article_text hr {
	margin: 1em 0em;
	color: #fafafa;
	border-color: #fafafa;
}

.article_text .alignleft {
	float: left;
	margin: 0em 1.5em 0em 0em;
}

.article_text .alignright {
	float: right;
	margin: 0em 0em 0em 1.5em;
}

.article_text .footnotes {
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid #999999;
}

.article_text .icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.article_text sup {
	vertical-align: super;
	font-size: .7em;
}

.article_text sup a, .article_text .footnotes a {
	color: #2196f3;
	border-bottom: none;
}

.article_text .footnotes ol {
	list-style-type: decimal;
}

.article_text .footnotes p {
	display: inline;
}


/*
	=====
	Share
	=====
*/

.article_share {
	margin: 1.5em 0;
	color: #999;
	font-size: .9em;
	text-align: center;
}

.article_share a {
	width: 1em;
	display: inline-block;
	line-height: 1em;
	margin: .2em;
	background-color: #ddd;
	padding: .6em;
	border-radius: 50%;
	color: #777;
	text-align: center;
}

.article_share a:hover {
	color: #fff;
}

.article_share a.icon_twitter:hover { background-color: #4da7de }
.article_share a.icon_facebook:hover { background-color: #3e5b98 }
.article_share a.icon_googleplus:hover { background-color: #dd4b39 }


/*
	==========
	Pagination
	==========
*/

#archive_pagination {
	text-align: center;
	margin: .5em auto;
}

#archive_pagination > * {
	padding: .3em .5em;
}

#archive_pagination a {
	color: #999;
	border: 1px solid #999;
	border-radius: 3px;
}

#archive_pagination a:hover {
	background-color: #999;
	color: #fff;
}

#article_pagination {
	width: 100%;
	margin: 1em auto;
}

#article_pagination a {
	color: #607d8b;
}

#article_pagination div {
	margin-bottom: .5em;
}

#article_pagination div.previous {
	float: left;
	width: 45%;
	text-align: left;
}

#article_pagination div.next {
	float: right;
	width: 45%;
	text-align: right;
}


/*	========
	Projects
	======== */

.project {
	margin-bottom: 1.5em;
}

.project_title {
	margin: .5em 0em;
	padding-bottom: .25em;
	border-bottom: 1px solid #eeeeee;
	font-size: 1.3em;
	font-weight: bold;
}

.project_title a {
	text-decoration: none;
	color: #000;
}

.project_description {
	text-align: justify;
	line-height: 1.3em;
}

.project_image {
	float: left;
	margin-right: 1em;
	width: 5.5em;
}

.project_image img {
	margin: 0;
	width: 100%;
}

/*
	======
	Footer
	======
*/

#footer {
	margin: 3em 0 1.5em 0;
	padding-top: 1em;
	text-align: right;
	color: #424242;
	border-top: 1px solid #ccc;
	font-size: .9em;
	text-align: left;
	line-height: 1.3em;
}

#footer a {
	text-decoration: underline;
}

#footer img {
	float: left;
	margin: 0;
	margin: .3em .5em 0 .2em;
}

#footer_left {
	float: left;
	width: 50%;
}

#footer_right {
	float: right;
	width: 50%;
}