<div id="site_header">
	<div id="site_logo"><a href="/">
		<img src="{{ "/images/logo.png" | prepend: site.baseurl }}" />
	</a></div>
	<div id="site_title"><a href="/">{{ site.title | escape }}</a></div>
	<ul id="navigation">
		<li><a href="/"{% if page.title == nil %} class="active"{% endif %}>Posts</a></li>
		{% for site_page in site.pages %}
			{% if site_page.title %}
				<li><a href="{{ site_page.url | prepend: site.baseurl }}"{% if page.title == site_page.title %}class="active"{% endif %}>{{ site_page.title }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<ul id="share">
		<li><a href="https://github.com/{{ site.github_username }}/"><img src="{{ site.baseurl }}/images/share/github.png" /></a></li>
		<li><a href="https://twitter.com/{{ site.twitter_username }}/"><img src="{{ site.baseurl }}/images/share/twitter.png" /></a></li>
		<li><a href="https://plus.google.com/{{ site.google_username }}/"><img src="{{ site.baseurl }}/images/share/google.png" /></a></li>
	</ul>
</div>
