<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="{{ "/css/reset.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" media="(max-width: 800px)" href="{{ "/css/small.css" | prepend: site.baseurl }}" />
	<link rel="icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" type="image/png" />

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/tomorrow.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
	    extensions: ["tex2jax.js"],
	    jax: ["input/TeX", "output/SVG"],
	    tex2jax: {
	      inlineMath: [ ["\\(","\\)"] ],
	      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
	      processEscapes: true
	    },
	    "HTML-CSS": { availableFonts: ["TeX"] }
	  });
	</script>
	<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

	<!--title>{{ config.SITE_NAME }}{% if article %} - {{ article.title }}{% endif %}</title-->
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
</head>